<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="fragments/default.html :: headerfiles"></th:block>
</head>

<body>

	<nav>
		<th:block th:insert="fragments/header.html :: header"></th:block>
	</nav>


	<div>
		<th:block th:insert="fragments/carouselBis.html :: carousel">
	</div>

	<div class="container-fluid descriptionMagasin">

		<p>Spécialiste de la réparation de téléphones, tablettes, consoles de jeux vidéos,
			ordinateurs</p>
		<p>Vente d'accessoires</p>

	</div>


	<nav>
		<th:block th:insert="fragments/footer.html :: footer"></th:block>
	</nav>


	<div>
		<th:block th:insert="fragments/default.html :: scripts">
	</div>


</body>

</html>