<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="fragments/default.html :: headerfiles"></th:block>
</head>

<body>
	<div class="container-fluid" th:fragment="header">

		<nav class="navbar navbar-inverse navbar-fixed-top">


			<div class="container-fluid conteneurNav">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{'/home'}">Phonetastik Saint-Omer</a>

				</div>
				<ul class="nav navbar-nav conteneurNav">
					<li>
						<a th:href="@{'/home'}">
							<span><img role="presentation" th:src="@{'/images/phonetastikRemi.png'}" width="120"
									height="100" /></span>
						</a>

					</li>

					<li><a th:href="@{'/home'}">Acceuil</a></li>
					<li>
					<a href="#">Qui sommes nous ?</a>
					</li>
					<li>
						<a href="tel:+33767226264">
							<i class="glyphicon glyphicon-earphone" style="font-size:24px"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-facebook" style="font-size:24px"></i>
						</a>
					</li>

					<li>
						<a href="#">
							<i class="fa fa-instagram" style="font-size:24px"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-snapchat" style="font-size:24px"></i>
						</a>
					</li>

				</ul>
			</div>
		</nav>
	</div>



	<div>
		<th:block th:insert="fragments/default.html :: scripts">
	</div>

</body>

</html>