.conteneurNav {
	display : flex ;
align-items: center;
 background-color:black;
    color :red;
}




.navHeader{
	 background-color: black;
	 color :red;
	 margin-bottom: 0;
	 
}

li {
	margin-left : 20px;
   margin-right: 20px;
font-size: 1.5em;
}

.footerCss {
 background-color:black;
	color :red;
	text-align: center;
}


.nav.navbar-nav li a {
color:red; 
}

.conteneurNav .navbar-header a{
	color :red;
	font-size: 1.5em;
}

#dropdownIcone li a {
	background-color: white;
	font-size: 0.75em;
	color: black ;
}



#numTel { 
	margin-top : 25px;
	}










