.conteneurNav {
	 display: flex;
   align-items: center;
   margin-left : 20px;
   margin-right: 20px;
 background-color: rgb(235, 235, 235);
    color :red;
}

.navHeader{
	 background-color: rgb(235, 235, 235);
	 color :red;
	 margin-bottom: 0;
}

li {
	margin-left : 20px;
   margin-right: 20px;
font-size: 1.5em;
}

.footerCss {
 background-color: rgb(235, 235, 235);
	color :red;
	text-align: center;
	margin-top: 20px;
}


.nav.navbar-nav li a {
color:red; 
}

.conteneurNav .navbar-header a{
	color :red;
	font-size: 1.5em;
}

#dropdownIcone li a {
	font-size: 0.75em;
	color: black ;
}





